[submodule "lib/sirius"]
	path = lib/sirius
	url = https://github.com/sirius-db/sirius
	ignore = dirty
[submodule "lib/velox"]
	path = lib/velox
	url = https://github.com/facebookincubator/velox.git
	
